body {
font-family: sans-serif;
font-size: 100%;
background-color: #fff;
}

*, *:before, *:after {
margin: 0;
padding: 0;
box-sizing: border-box;

}
#seccion-principal{
    width: 100%;
    display: block;
    position:relative;
    margin: auto;
    top: 3.5rem;
    min-height: 34rem;
    text-align: center;
    transition: all .4s ease;
}
article{
    width: 100%;
    display: block;
    position: relative;
    color: rgb(14, 14, 14);
    text-align: left;
    padding: 7rem;
    padding-top: 0;
    transition: all .4s ease;
}
aside {
    width:100%;
    display: block;
    float: left;
    font-size: 1rem;
}
#menu-icono{
    font-size:1em;
}
.navbar ul {
list-style-type: none;
}

ul > li > a, label {
display: block;
font-size: 1.25rem;
text-decoration: none;
color: #E5E5E5;
padding: 1rem 1rem 1rem 3rem;
cursor: pointer;
transition: all .3s ease;
border-left: 4px solid rgba(255, 255, 255, 0);
}
ul > li >a:hover, label:hover {
color: #FFB503;
border-left: 4px solid #ffbc1d;
}
a.tlf
{
    color: rgb(3, 58, 5);
    display: inline;
    text-decoration: none;
    padding: 0rem;
}
a.tlf:hover {
    color: rgb(55, 111, 68);
    }

    .btn {
        background: #ff4912;
        background-image: -webkit-linear-gradient(top, #ff4912, #990000);
        background-image: -moz-linear-gradient(top, #ff4912, #990000);
        background-image: -ms-linear-gradient(top, #ff4912, #990000);
        background-image: -o-linear-gradient(top, #ff4912, #990000);
        background-image: linear-gradient(to bottom, #ff4912, #990000);
        -webkit-border-radius: 15;
        -moz-border-radius: 15;
        border-radius: 15px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    }
    .btn:hover {
        background: #ff0000;
        background-image: -webkit-linear-gradient(top, #ff0000, #f55454);
        background-image: -moz-linear-gradient(top, #ff0000, #f55454);
        background-image: -ms-linear-gradient(top, #ff0000, #f55454);
        background-image: -o-linear-gradient(top, #ff0000, #f55454);
        background-image: linear-gradient(to bottom, #ff0000, #f55454);
        text-decoration: none;
    }
    .tlf2
    {
        text-decoration: none;
        color: rgb(19, 140, 0);
        display: inline;
        font-size: 1rem;
        font-weight: 900;
    }
.chk-nav {
display: none;
}
.icono-tlf{
    width: 1.5rem;
    height: 1.5rem;
}
#logo{
    width: 80%;
    height: 80%;
}

.nav {
min-width: 90%;
max-width: 100%;
min-height: 2rem;
max-height: 3.5rem;
position: fixed;
z-index: 10;
}

/*_________________________________________________________________

                    NAVBAR <ul class"nav-bar"></ul> 
____________________________________________________________________*/
.navbar {
width: 50%;
}
.navbar .sub-nav {
display: block;
}

.sub-nav a {
padding-left: 2rem;
font-size: 1rem;
}

.navbar > li {
border-top: 1px solid rgba(255, 255, 255, 0.2);
position: relative;
}

/*_________________________________________________________________

 ESTILOS PARA MODIFICAR EL LABEL SECUNDARIO DEL SUBMENU
____________________________________________________________________*/
.navbar .fa {
position: absolute;
left: 1rem;
}

.lbl-nav:after {
content: "\25BC";
font-size: 1rem;
position: absolute;
width: 100%;
text-align: right;
left: 0;
padding-right: .75rem;
line-height: 1.5rem;
}

/*_________________________________________________________________

$ESTILOS PARA MODIFICAR EL LABEL PRINCIPAL O ICONO DE HAMBURGUESA
____________________________________________________________________*/
label[for="btn-navbar"] {
    padding: .5rem 1rem .5rem 1rem;
    font-size: 2rem;
    text-align: left;
    color: #E5E5E5;
    min-height: 2rem;
    background-color: #252525;
}
label[for="btn-navbar"]:hover {
    color: #E5E5E5;
    border-left: 4px solid transparent;
}

/*_________________________________________________________________

$ESTILOS PARA ESCONDER LA LISTA PRINCIPAL DEL MENU
____________________________________________________________________*/
.navbar {
    margin-left: -100%;
    height: 100vh;
    transition: all .5s ease;
    background-color: #252525;
}

.chk-nav:checked ~ .navbar {
    margin-left: 0;
}

/*_________________________________________________________________

$ESTILOS PARA ESCONDER LOS SUBMENUS 
____________________________________________________________________*/
.navbar .sub-nav {
    display: none;
}

.chk-nav:checked ~ .sub-nav {
    display: block;
}
.espacio-fin{
    margin-bottom: 20rem;
}

/****************_________________________________________________________________*******************

                                ESTILOS PARA PC
****************____________________________________________________________________*****************/
@media all and (min-width: 48rem) {
body, article{
    width: 100%;
}
a, label {
    display: block;
    padding: 1rem 1.25rem;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

#seccion-principal{
    width: 100%;
    display: block;
    position:relative;
    margin: auto;
    top: 3.5rem;
    min-height: 34rem;
    text-align: center;
    transition: all .4s ease;
}
article{
    width: 100%;
    display: block;
    position: relative;
    color: rgb(14, 14, 14);
    text-align: left;
    padding: 7rem;
    padding-top: 0;
    transition: all .4s ease;
}
aside {
    width: 50%;
    display: block;
    float: left;
    font-size: 1rem;
}

.container.font-size5 {
    font-size: 20px;
}
article > h1{
    font-size: 1.8rem;
}
article > p{
    line-height: 1.6em;
    padding: 0.5rem;
}
.icono-tlf{
    width: 1.5rem;
    height: 1.5rem;
}
.separador-vertical{
    margin-bottom: 2rem;
}

            /*_________________________________________________________________

            $ESTILOS PARA NAVBAR 
        ____________________________________________________________________*/
.navbar {
    width: 100%;
    height: auto;
    display: table;
    table-layout: fixed;
    margin: auto;
}

.navbar > li {
    display: table-cell;
}

.chk-nav:checked ~ .navbar {
    margin: auto;
}

        /*_________________________________________________________________

            $ESTILOS PARA ESCONDER EL ICONO DE HAMBURGUESA
        ____________________________________________________________________*/
label[for="btn-navbar"] {
    display: none;
}

        /*_________________________________________________________________

        $ESTILOS PARA el SUBMENU 
        ____________________________________________________________________*/
.navbar .sub-nav {
    display: none;
}

.navbar > ul > li {
    position: relative;
}

.chk-nav:checked ~ .sub-nav {
    display: block;
}

.navbar .sub-nav {
    width: 100%;
    background-color: #222;
    position: absolute;
}

.sub-nav a {
    font-size: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

        /*_________________________________________________________________

                $ESTILOS PARA LOS ICONOS
            ____________________________________________________________________*/
.navbar .fa {
    position: static;
    padding-right: .3rem;
}

.lbl-nav:after {
    top: 0;
    height: 100%;
    line-height: 3.5rem;
}

        /*_________________________________________________________________

                $ESTILOS PARA EL MENU PRINCIPAL
        ____________________________________________________________________*/
.navbar > li {
    position: relative;
    border-top: 4px solid #FFB503;
}

.navbar > li > a:hover, label:hover {
    border-left: 4px solid transparent;
}
}  
/*  FIN DE ESTILO PARA VISTA PC */
/*_________________________________________________________________

$ESTILOS PARA EL SECTION  ESTO NO TIENE NADA QUE VER CON EL MENU
____________________________________________________________________*/
/* Contenido principal */
section {
width: 90%;
padding: 3.5rem;
margin: auto;
color: rgb(14, 14, 14);
text-align: center;
transition: all .4s ease;
}
section small {
display: block;
padding-bottom: 1rem;
font-size: 1rem;
}
section span {
color: red;
font-size: 1.5rem;
}

/*article{
    width: 100%;
    padding: 1rem;
    margin: auto;
    color: rgb(14, 14, 14);
    text-align: left;
    transition: all .4s ease;
}*/


/*  ESTILOS PARA EL MAPA DE GOOGLE  */
#map {
    width: 100%;
    height: 15rem;
    margin-bottom: 3rem;
    position: relative;
    float: left;
}
